<% unless notice.nil? %>
  <div class="row">
    <div class="col-xs-12">
      <p id="notice" class="alert alert-info fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <%= notice.html_safe %>
      </p>
    </div>
  </div>
<% end %>
<% unless alert.nil? %>
  <div class="row">
    <div class="col-xs-12">
      <p id="error" class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <%= alert.html_safe %>
      </p>
    </div>
  </div>
<% end %>
